@import url("http://fonts.googleapis.com/css?family=poppins:400,500,700");

html,body{
  font-family:'poppins',sans-serif;
  color:#222;
}

.carousel img{
  width:100%;
  height:100%;
}

.social a{
  font-size: 4.5rem;
  padding:3rem;
}

.fa-facebook{
  color:#5b5998;
}

.fa-twitter{
  color:#00aced;
}

.fa-instagram{
  color:#517fa4;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover{
  color:#d5d5d5;
}

footer{
  background-color:#3f3f3f;
  color:#d5d5d5;
  padding-top:2rem;
}

.light{
  border-top: lpx solid #d5d5d5;
  width:100%;
}
